<div class="search-container">
    <p>Search for flights</p>
    <%= form_with url: "/flights", method: :get,  class: "pure-form flight-search" do |form| %>
        <%= form.select(:num_of_passengers, options_for_select(1..4)) %>
        <%= form.select(:departure_airport, options_for_select(@departure_airports)) %>
        <%= form.select(:arrival_airport, options_for_select(@arrival_airports)) %>
        <%= form.select(:takeoff, options_from_collection_for_select(Flight.all, :takeoff, :takeoff_date_formatted)) %>
    <%= form.submit "Search", :class => 'pure-button' %>
    <% end %>
</div>
